@import 'scss/_mixins';
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat+Subrayada:wght@700&family=Ubuntu&display=swap');

$primary-color: #0086c8;
$secondary-color: #ad0220;
$dark-color: #000000;
$light-color: #fdbd00;
$icon-background: rgba(224, 224, 224, 0.5);

$font-serif: 'Bitter', 'Times New Roman', serif;
$font-sanserif: 'Ubuntu', Helvetica, Arial, sans-serif;
$font-logo: 'Montserrat Subrayada', Arial, sans-serif;

body {
  margin: auto;
  max-width: 1200px;
}

.dark {
  color: $light-color;
  background-color: $dark-color;
}

button {
  background: unset;
  border: unset;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  color: $dark-color;
  font-family: $font-sanserif;

  > div {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: $font-serif;
  }

  header {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 100px;
      padding: 10px 20px;
    }

    .search-control {
      margin-right: 30px;
    }
  }

  nav {
    width: 100%;
    background-color: $light-color;

    a {
      color: $primary-color;
    }
    li {
      padding: 0 10px;
      display: inline-block;
    }
  }

  section {
    padding: 15px;
  }

  .form-date {
    margin: 30px 0;

    .date {
      margin-right: 30px;
    }
  }

  .product-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product-media {
      margin-bottom: 15px;
      position: relative;

      .product-image {
        position: relative;
        width: calc(100vw - 20px);
        height: 500px;
        overflow: hidden;
        cursor: zoom-in;

        img {
          position: absolute;
          left: 0;
          width: calc(100vw - 30px);
          height: auto;
        }

        &:focus {
          outline: unset;
        }
      }

      .product-image-thumbnails {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        .product-thumbnail {
          padding: 10px 10px 0 0;

          &:focus {
            outline: unset;
          }
        }

        img {
          width: 60px;
          height: 60px;
        }
      }

      .product-image-mobile {
        display: flex;
        justify-content: space-around;
        padding: 0;

        li {
          background-color: transparent;
          border: 1px solid $primary-color;
          background-color: $icon-background;
          border-radius: 0.5rem;
          cursor: pointer;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          height: 0.5rem;
          margin-right: 1px;
          margin-left: 1px;
          overflow: hidden;
          width: 0.5rem;

          &.active {
            background-color: $primary-color;
          }

          button {
            z-index: 1;

            &:focus {
              outline: unset;
            }
          }
        }
      }
    }

    .product-info-main {
      .product-addForm {
        margin-bottom: 30px;

        .product-info-price {
          margin: 20px 0;
          display: flex;

          .price-original {
            text-decoration: line-through;
          }
          .price-sale {
            color: red;
            margin-left: 20px;
          }
        }

        .product-swatch-style {
          margin: 20px 0;

          img {
            border: 1px solid #000000;
            border-radius: 50%;
            height: 75px;
            width: 75px;
          }

          button {
            background-color: unset;
            border: unset;
            padding: 0;

            &:focus {
              outline: unset;
            }
          }
        }

        .product-dropdowns {
          margin: 20px 0;

          .makeStyles-formControl-7 {
            width: 95%;
          }
        }

        .product-options-button {
          margin: 8px;
        }
      }

      .product-social-links {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  .product-additional {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .product-features {
      ul {
        list-style: none;

        li:before {
          content: '\2714';
          margin-right: 5px;
        }
      }
    }
  }

  footer {
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: $primary-color;

    ul {
      padding: 0;

      li {
        padding: 0 10px;
        display: inline-block;
      }
    }
  }
}

@include md {
  #app {
    .product-main {
      margin-bottom: 25px;

      .product-media {
        margin-bottom: 15px;
        margin-right: 20px;
        margin-bottom: 0;
        width: 57%;
        // ...
        display: grid;
        grid-template-columns: 20px 70px 20px auto 20px 25px;
        grid-template-rows: 20px auto 20px auto 1px 20px;

        .product-image {
          display: block;
          justify-self: center;
          grid-column: 1 / span 6;
          grid-row: 1 / span 6;
          // ...
          width: 100%;
          height: auto;
          overflow: unset;

          img {
            position: relative;
            width: 100%;
          }
        }

        .product-image-thumbnails {
          display: flex;
          flex-direction: column;
          grid-column: 2;
          grid-row-start: 2;
          grid-row-end: 6;

          .selected {
            border: 2px solid $primary-color;
          }
        }

        .product-image-zoom {
          grid-row: 1;
          grid-column: 6;
          z-index: 1;
          background-color: $icon-background;
        }

        .product-image-before {
          grid-row: 3;
          grid-column: 3;
          z-index: 1;
          border-radius: 50%;
          background-color: $icon-background;
        }

        .product-image-next {
          grid-row: 3;
          grid-column: 5;
          z-index: 1;
          border-radius: 50%;
          background-color: $icon-background;
        }

        .product-image-mobile {
          display: none;
        }

        &.expanded {
          width: 100%;

          + .product-info-main {
            display: none;
          }

          .product-image {
            cursor: crosshair;
          }

          .product-image-thumbnails {
            display: none;
          }

          .product-image-mobile {
            display: flex;
            position: absolute;
            bottom: 10px;
            right: 50%;
            border-radius: 30%;
          }

          .product-image-before {
            grid-column: 2;
          }

          &.zoomed {
            .product-image {
              cursor: url('assets/16_16.png'), zoom-out;
              overflow: hidden;

              img {
                transform: scale(2.5);
              }
            }

            .product-image-mobile,
            .product-image-before,
            .product-image-after {
              display: none;
            }
          }
        }
      }

      .product-info-main {
        width: 40%;
      }
    }

    .product-additional {
      flex-direction: row;

      .product-description {
        border-right: 1px solid #000000;
        margin-right: 20px;
        max-width: 75%;
      }
    }

    .ratings-reviews {
      display: grid;
      grid-template-columns: 300fr 700fr;
    }
  }
}

// Beggining of Reviews Css
.ratings-wrapper {
  display: grid;
  grid-template-columns: 50fr 200fr;

  .average-rating {
    display: inline;
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
  }
}

.ratings-breakdown {
  .rating-amount {
    display: inline-block;
    margin: 10px;
  }
  .ratings-bar {
    display: inline-block;
  }
}

.percentage-recommended {
  color: grey;
  size: 12px;
  margin-bottom: 15px;
}

.top-tile {
  display: grid;
  grid-template-columns: auto auto;

  .user-and-date-wrapper {
    text-align: right;

    .user-name {
      margin: 5px;
      display: inline;
    }

    .review-date {
      margin: 5px;
      display: inline;
    }
  }
}

.line-break {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.5em 1em;
  padding: 0;
}

.list-buttons-wrapper {
  margin: auto;
  text-align: center;
}

.reviews-sort {
  // position: relative;
  display: grid;
  grid-template-columns: 15fr 50fr;
  .reviews-sort-text {
    // display: inline-block;
    // position: absolute;
    // bottom: 0;
    //float: left;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  .reviews-sort-form {
    // display: inline;
    // left: 25;
  }
}

.review-list-image {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px; /* Rounded border */
  padding: 5px; /* Some padding */
  width: 100px; /* Set a small width */
  margin: 10px;
}

.review-list-image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.reviewer-recommended {
  display: grid;
  grid-template-columns: 1fr 22fr;
  margin-top: 20px;

  .recommend-tag {
    padding-top: 8px;
  }
}

.helpful-off {
  color: grey;
  pointer-events: none;
  margin-top: 15px;
  font-size: 13px;
}

.helpful-on {
  margin-top: 15px;
  font-size: 13px;
  color: inherit;
}

// End of Reveiws Css

li {
  list-style-type: none;
}

.qa-widget {
  max-height: 650px;
  overflow: auto;
}

.qa-help-answer,
.qa-body {
  display: flex;
  font-family: $font-serif;
}

.qa-help-answer,
.qa-body {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.qa-help-answer {
  margin-right: 12px;
}
.q-title {
  padding-left: 10px;
}

.a-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 20px;
  font-family: $font-serif;
  font-size: large;
}

.qa-title {
  display: flex;
  justify-content: space-between;
  font-size: large;
}

.answers-list,
.more-list {
  padding-left: 12px;
}
.more-list {
  padding-left: 31px;
}

.a-body,
.a-info,
.answer-div,
.more-div {
  display: flex;
}
.answer-div {
  margin-top: 10px;
  margin-bottom: 15px;
}
.a-body {
  font-family: $font-serif;
  font-size: medium;
}
.a-info {
  padding-top: 10px;
  font-family: $font-sanserif;
  opacity: 0.65;
  font-size: smaller;
  margin-bottom: 20px;
}

.show-btn {
  font-size: small;
  font-family: $font-serif;
  margin-top: 10px;
  margin-bottom: 15px;
}

a.show-btn:link,
a.show-btn:active,
a.show-btn:visited {
  color: black;
}
a.show-btn:hover {
  color: $light-color;
}

.report-div,
.help-div,
.a-name {
  padding-left: 15px;
  padding-right: 13px;
}
.yes-btn {
  padding-left: 5px;
  padding-right: 2px;
}

a.yes-btn:link,
a.yes-btn:active,
a.yes-btn:visited {
  color: $primary-color;
}
a.yes-btn:hover {
  color: $light-color;
}
a.report-btn:link,
a.report-btn:active,
a.report-btn:visited {
  color: $primary-color;
}
a.report-btn:hover {
  color: $light-color;
}
.a-photos {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}



